#stage	{
			width: 960px;
			margin: 0 auto; 
		}

#players	{ 
				width: 315px; 
				float: left; 
				margin-right: -960px; 
			}	

#desk	{ 
			width: 638px; 
			min-height: 480px; 
			border: solid 3px black;  
			float: left;
			margin-left: 315px;
			background: #ffffff url(grid.jpg) repeat scroll -11px;
		}

		#desk .section	{ 
							height: 100%; 
						}

